.about.container {
	height: 100vh;
	background-color: var(--clr-primary-0);
}

.about.content {
	display: flex;
	align-items: end;
}

.corner-box {
	width: 8.125rem;
	margin-right: 1.25rem;
}

.corner-box .text {
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: left top;
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: left top;
	-ms-transform: rotate(-90deg);
	-ms-transform-origin: left top;
	-o-transform: rotate(-90deg);
	-o-transform-origin: left top;
	transform: rotate(-90deg);
	transform-origin: left top;

	position: relative;
	width: max-content;
	line-height: 2.1875rem;
	color: var(--clr-primary-1);
	margin-left: 3.1875rem;
	margin-bottom: -auto;
	padding-left: 4.9375rem;
}

.corner-box .text:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 3.125rem;
	height: 0.0625rem;
	background-color: var(--clr-primary-1);
}

.image-box {
	display: flex;
	align-items: end;
}

.image-box {
	position: relative;
}

.big-corner,
.small-corner {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--clr-primary-1);
	border-radius: 48% 48% 0 0;
	/* background-color: var(--clr-white); */
	overflow: hidden;
}

.big-corner {
	width: 32.9375rem;
	height: 43.125rem;
	margin-right: 0.8125rem;
}

/* .big-corner p {
	line-height: 3.125rem;
	font-family: MazzardM-Regular;
	font-size: 30px;
	color: var(--clr-black);
} */

.small-corner,
.small-corner-2 {
	width: 16.25rem;
	height: 21.25rem;
}

.small-corner {
	margin-right: 6.25rem;
	z-index: 1;
}

/* .small-corner p {
	font-family: MazzardM-Regular;
	line-height: 1.875rem;
	font-size: 17px;
	color: var(--clr-black);
} */

.small-corner-2 {
	position: absolute;
	right: 0;
	border: 2px solid var(--clr-primary-1);
	border-radius: 48% 48% 0 0;
	margin: 0 4.625rem 3.125rem 0;
}

.text-box {
	width: 36.25rem;
	margin-bottom: 1.875rem;
}

.about .title {
	width: max-content;
	margin: 0 0 2.5rem -18.75rem;
}

.about .text {
	line-height: 2.1875rem;
}

.paragraph {
	height: 20.625rem;
	margin-bottom: 2.8125rem;
}

.footer-text {
	position: relative;
	width: max-content;
	padding-left: 5rem;
}

.footer-text::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 3.75rem;
	height: 0.125rem;
	background-color: var(--clr-white);
}

@media (max-width: 1700px) {
	.corner-box,
	.corner-box img {
		width: 6.09375rem;
	}

	.corner-box .text {
		margin-left: 2.171875rem;
	}

	.big-corner,
	.big-corner img {
		width: 24.703125rem;
		height: 32.34375rem;
	}

	.small-corner,
	.small-corner img,
	.small-corner-2 {
		width: 12.1875rem;
		height: 15.9375rem;
	}

	.about .title {
		width: max-content;
		margin: 0 0 1.875rem -18.75rem;
	}

	.about .text {
		line-height: 2.0625rem;
	}

	.paragraph {
		height: 17.75rem;
		margin-bottom: 2.1875rem;
	}
}