.about {
	background-color: var(--clr-primary-0);
}

.about .content {
	display: flex;
	align-items: end;
	padding-bottom: 8.88889vh;
}

.corner-box {
	position: relative;
	width: 8.125rem;
	height: 15.1875rem;
	margin-right: 1.25rem;
}

.corner-box .text {
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: left top;
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: left top;
	-ms-transform: rotate(-90deg);
	-ms-transform-origin: left top;
	-o-transform: rotate(-90deg);
	-o-transform-origin: left top;
	transform: rotate(-90deg);
	transform-origin: left top;

	position: relative;
	width: max-content;
	line-height: 2.1875rem;
	color: var(--clr-primary-1);
	margin-left: 2.96875rem;
	padding-left: 3.125rem;
}

.corner-box .text:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 1.875rem;
	height: 0.0625rem;
	background-color: var(--clr-primary-1);
}

.corner-box .flower {
	position: absolute;
	height: 100%;
	top: 0;
	margin-top: 0.75rem;
}

.about .image-box {
	display: flex;
	align-items: end;
	position: relative;
}

.ficus,
.pot {
	display: none;
}

.big-corner,
.small-corner {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--clr-primary-1);
	border-radius: 48% 48% 0 0;
	/* background-color: var(--clr-white); */
	overflow: hidden;
}

.big-corner {
	width: 32.9375rem;
	height: 43.125rem;
	margin-right: 0.8125rem;
}

/* .big-corner p {
	line-height: 3.125rem;
	font-family: MazzardM-Regular;
	font-size: 30px;
	color: var(--clr-black);
} */

.corner .images {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.small-corner,
.small-corner-2 {
	width: 16.25rem;
	height: 21.25rem;
}

.small-corner {
	z-index: 1;
}

/* .small-corner p {
	font-family: MazzardM-Regular;
	line-height: 1.875rem;
	font-size: 17px;
	color: var(--clr-black);
} */

.small-corner-2 {
	position: absolute;
	right: -1.875rem;
	bottom: 3.125rem;
	border: 2px solid var(--clr-primary-1);
	border-radius: 48% 48% 0 0;
}

.about .text-box {
	width: 36.25rem;
	margin: 0 0 1.875rem 6.25rem;
}

.about .title {
	width: max-content;
	margin: 0 0 2.5rem -18.75rem;
}

.about .text {
	line-height: 2.1875rem;
}

.about .paragraph {
	height: 20.625rem;
	margin-bottom: 2.8125rem;
}

.about .footer-text {
	position: relative;
	width: max-content;
	padding-left: 5rem;
}

.about .footer-text::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 3.75rem;
	height: 0.125rem;
	background-color: var(--clr-white);
}

@media (max-width: 1700px) {
	.corner-box,
	.corner-box img {
		width: 6.09375rem;
	}

	.corner-box .text {
		margin-left: 2.171875rem;
	}

	.big-corner,
	.big-corner img {
		width: 24.703125rem;
		height: 32.34375rem;
	}

	.small-corner,
	.small-corner img,
	.small-corner-2 {
		width: 12.1875rem;
		height: 15.9375rem;
	}

	.small-corner-2 {
		margin: 0 4.6875rem 2.5rem 0;
	}

	.about .title {
		width: max-content;
		margin: 0 0 1.875rem -18.75rem;
	}

	.about .text {
		line-height: 2.0625rem;
	}

	.about .paragraph {
		height: 17.75rem;
		margin-bottom: 2.1875rem;
	}
}

@media (max-width: 1440px) {
	.corner-box,
	.corner-box img {
		width: 5.16276rem;
	}

	.corner-box .text {
		margin-left: 1.70638rem;
	}

	.big-corner,
	.big-corner img {
		width: 21.9583rem;
		height: 28.75rem;
	}

	.small-corner,
	.small-corner img,
	.small-corner-2 {
		width: 10.833rem;
		height: 14.167rem;
	}

	.small-corner-2 {
		margin-bottom: 1.875rem;
	}

	.about .text {
		line-height: 1.71875rem;
	}

	.about .paragraph {
		height: 16.71875rem;
		margin-bottom: 1.25rem;
	}
}

@media (max-width: 1280px) {
	.corner-box,
	.corner-box img {
		width: 8.327vw;
	}
	
	.corner-box {
		margin-right: 0.625rem;
	}
	
	.big-corner,
	.big-corner img {
		width: 35.417vw;
		height: 46.371vw;
	}

	.small-corner,
	.small-corner img,
	.small-corner-2 {
		width: 17.473vw;
		height: 22.85vw;
	}

	.small-corner {
		margin-right: 3.75rem;
	}

	.small-corner-2 {
		margin-right: 2.1875rem;
	}
	
	.about .text-box {
		width: 24.29vw;
		margin-bottom: calc(1.875rem + 12.5rem);
	}
	
	.about .title {
		margin: 0 0 2.5rem -26rem;
	}
	
	.about .paragraph {
		height: max-content;
		margin-bottom: 2.1875rem;
	}

	.about .text {
		line-height: 1.75rem;
		font-size: 22px;
	}

	.br {
		content: '';
		margin: 50%;
	}

	.about .text1,
	.about .text2 {
		width: 44.29vw;
		margin-left: -20vw;
	}

	.about .footer-text {
		width: 15rem;
		padding-left: 5rem;
	}
}

@media (max-width: 1100px) {
	.about .text-box {
		margin-bottom: calc(1.875rem + 10rem);
	}
}

@media (max-width: 992px) {
	.about.content {
		flex-direction: column-reverse;
		align-items: start;
		margin: 1.875rem 0 auto;
	}

	.corner-box {
		display: none;
	}

	.big-corner {
		margin-right: 1.875rem;
	}
	
	.ficus,
	.pot,
	.about .mobile {
		display: block;
	}
	
	.ficus {
		height: 136.25px;
	}
	
	.pot {
		height: 57.5px;
	}

	.small-corner {
		margin: 0;
	}

	.small-corner-2 {
		bottom: 1.25rem;
		right: -1.5rem;
		margin: 0;
	}

	.about .mobile {
		display: block;
	}

	.corner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 46.371vw;
	}
	
	.mobile.footer-text {
		width: max-content;
		color: var(--clr-primary-1);
		margin-top: 1.5rem;
		padding: 0 1.25rem 0 0;
	}

	.about .footer-text::before {
		left: 100%;
		height: 0.0625rem;
		background-color: var(--clr-primary-1);
	}

	.about .text-box {
		width: 100%;
		margin: 0;
	}

	.about .title {
		width: max-content;
		margin: 0;
	}

	.about .paragraph {
		height: max-content;
		margin: 2.5rem 0 3.125rem;
	}

	.about .text {
		line-height: 1.875rem;
		font-size: 20px;
	}

	.about .text1,
	.about .text2,
	.about .footer-text {
		width: 100%;
		margin-left: 0;
	}

	.about .laptop {
		display: none;
	}
}

@media (max-width: 768px) {
	.about.content {
		margin: 1.25rem 0 2.1875rem;
	}

	.about .paragraph {
		margin: 1.875rem 0 2.5rem;
	}

	.about .text {
		font-size: 18px;
	}

	.big-corner,
	.big-corner img {
		width: 57.85vw;
		height: 75.742vw;
	}

	.big-corner {
		margin-right: 1.317vw;
	}

	.corner {
		height: 75.742vw;
	}

	.small-corner,
	.small-corner img,
	.small-corner-2 {
		width: 28.542vw;
		height: 37.044vw;
	}

	.small-corner-2 {
		bottom: 2.586vw;
		right: -3.294vw;
		margin: 0;
	}

	.ficus {
		height: 30.278vw;
	}
	
	.pot {
		height: 16.667vw;
	}

	.mobile.footer-text {
		width: max-content;
		margin-top: 1.375rem;
	}
}

@media (max-width: 480px) {
	.about .paragraph {
		margin: 1.25rem 0 1.875rem;
	}

	.about .text {
		line-height: 1.5625rem;
		font-size: 15px;
	}

	.mobile.footer-text {
		width: 16.25rem;
		padding: 0;
	}

	.about .footer-text::before {
		top: 25%;
		left: 13.4375rem;
		width: 6.875rem;
	}
}