.contact.container {
	height: 100vh;
	background-color: var(--clr-primary-0);
}

.contact .title {
	text-align: center;
	line-height: 7.5rem;
	font-size: 120px;
	margin-top: 1.875rem;
}

.contact .boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	gap: 0 25%;
	width: 77%;
	margin: 1.25rem auto 0;
}

.info-box {
	margin-top: 3.75rem;
}

.contact .subtitle {
	line-height: 1.875rem;
	font-size: 20px;
	color: var(--clr-primary-1);
	margin-bottom: 0.625rem;
}

.right {
	text-align: right;
}

.contact .text {
	line-height: 3.75rem;
	font-size: 40px;
}

@media (max-width: 1700px) {
	.contact .title {
		line-height: 6.875rem;
		font-size: 100px;
	}

	.contact .boxes {
		width: 80%;
	}
	
	.contact .subtitle {
		font-size: 18px;
	}
	
	.contact .text {
		font-size: 34px;
	}	
}