.contact.container {
	height: 100vh;
	background-color: var(--clr-primary-0);
}

.contact.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.contact .title {
	text-align: center;
	line-height: 7.5rem;
	font-size: 120px;
	margin-top: 1.875rem;
}

.contact .boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-between;
	gap: 0 25%;
	width: 77%;
	margin: 1.25rem auto 0;
}

.info-box {
	margin-top: 3.75rem;
}

.contact .subtitle {
	line-height: 1.875rem;
	font-size: 20px;
	color: var(--clr-primary-1);
	margin-bottom: 0.625rem;
}

.right {
	text-align: right;
}

.contact .text {
	line-height: 3.75rem;
	font-size: 40px;
}

.footer {
	display: flex;
	justify-content: space-between;
	width: 77%;
	margin: auto auto 1.875rem;
}

.policy-text {
	line-height: 1.875rem;
	font-size: 16px;
}

.athenaplus {
	font-size: 16px;
}

.athenaplus .url {
	text-decoration: underline;
	transition: all 0.5s ease-in-out;
}
	
.url:hover {
	color: var(--clr-primary-1);
	font-size: 18px;
}

@media (max-width: 1700px) {
	.contact .title {
		line-height: 6.875rem;
		font-size: 100px;
	}

	.contact .boxes {
		width: 80%;
	}
	
	.contact .subtitle {
		font-size: 18px;
	}
	
	.contact .text {
		font-size: 34px;
	}	
}

@media (max-width: 1440px) {
	.contact .title {
		line-height: 5.625rem;
		font-size: 85px;
	}

	.contact .boxes {
		width: 80%;
	}
	
	.contact .subtitle {
		font-size: 17px;
	}
	
	.contact .text {
		font-size: 28px;
	}	
}

@media (max-width: 1280px) {
	.contact .title {
		font-size: 78px;
	}
	
	.contact .boxes {
		width: 80%;
		gap: 0;
	}
}

@media (max-width: 992px) {
	.contact .boxes,
	.footer {
		width: 100%;
	}

	.contact .title {
		line-height: 5rem;
	}

	.contact .subtitle {
		line-height: 2.5rem;
		font-size: 24px;
	}
	
	.contact .text {
		line-height: 2.5rem;
		font-size: 22px;
	}
}

@media (max-width: 768px) {
	.contact.content {
		margin: 1.25rem 0;
	}

	.contact .title {
		line-height: 5.625rem;
		font-size: 68px;
		margin: 0 0 3.75rem;
	}

	.contact .boxes {
		display: block;
		gap: 0;
		margin: 0;
	}

	.right {
		text-align: left;
	}

	.info-box {
		margin-top: 1.875rem;
	}

	.contact .subtitle {
		line-height: 2.1875rem;
		font-size: 22px;
	}
	
	.contact .text {
		line-height: 2.1875rem;
		font-size: 20px;
	}

	.footer {
		flex-direction: column;
		gap: 0.625rem;
		margin-bottom: 0;
	}

	.policy-text,
	.athenaplus {
		text-align: center;
		line-height: 1.5625rem;
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.contact .title {
		line-height: 3.75rem;
		font-size: 50px;
	}

	.contact .subtitle {
		line-height: 1.875rem;
		font-size: 20px;
	}
	
	.contact .text {
		line-height: 1.875rem;
		font-size: 18px;
	}

	.policy-text,
	.athenaplus {
		line-height: 1.25rem;
		font-size: 13px;
	}
}