/* General */
:root {
	--clr-white: #FFF;
	--clr-black: #000;
	--clr-primary-0: #1B3E3D;
	--clr-primary-1: #BCA48D;
	--clr-primary-2: #D9D9D9;
	--clr-primary-3: #9B9B9B;
	;
}

@font-face {
	font-family: HistoryPro-Two;
	src: local("HistoryPro-Two"),
	url(../fonts/HistoryPro-Two.ttf);
}

@font-face {
	font-family: MazzardM-Light;
	src: local("MazzardM-Light"),
	url(../fonts/MazzardM-Light.ttf);
}
	
@font-face {
	font-family: MazzardM-Regular;
	src: local("MazzardM-Regular"),
	url(../fonts/MazzardM-Regular.ttf);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-weight: 300;
   font-style: normal;
	color: var(--clr-white);
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-family: MazzardM-Light;
	color: var(--clr-white);
}

h1,
h2,
h3,
h4 {
	font-family: HistoryPro-Two;
	font-weight: 400;
}

h1 {
	font-size: 15.625vw;
	color: var(--clr-primary-1);
}

h2 {
	line-height: 13.125rem;
	font-size: 180px;
}

h3 {
	line-height: 10rem;
	font-size: 140px;
}

h4 {
	line-height: 7.5rem;
	font-size: 100px;
}

h5 {
	line-height: 4.375rem;
	font-family: MazzardM-Light;
	font-size: 50px;
	font-weight: 300;
}

h6 {
	font-family: HistoryPro-Two;
	font-weight: 400;
}

p {
	font-family: MazzardM-Light;
	font-size: 20px;
}

.text {
	font-size: 23px;
}

.container {
	display: flex;
	flex-direction: column;
  	align-items: center;
	height: 100%;
}

.content {
	width: 92.70834vw;
	margin: 0 auto;
}

.hide {
	display: none;
}

.buttons {
	display: flex;
	gap: 1.042vw;
}

.button {
	width: 23.125rem;
	height: 5rem;
	text-align: center;
	background-color: var(--clr-primary-1);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.button:hover {
	border: 2px solid var(--clr-white);
}

.button-text {
	line-height: 1.875rem;
	padding: 1.5625rem 0;
}

.arrow-btn {
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	padding: 0.984375rem 0.3125rem;
}

.arrow-btn:hover {
	background-color: var(--clr-white);
}

.arrow-btn:hover svg {
	fill: var(--clr-black);
}

@media (max-width: 1700px) {
	h2 {
		line-height: 11.25rem;
		font-size: 160px;
	}

	h3 {
		line-height: 8.125rem;
		font-size: 120px;
	}

	h4 {
		line-height: 7.1875rem;
		font-size: 85px;
	}
	
	h5 {
		line-height: 3.75rem;
		font-size: 42px;
	}

	.text {
		font-size: 20px;
	}
}

@media (max-width: 1440px) {
	h2 {
		line-height: 8.125rem;
		font-size: 135px;
	}

	h3 {
		line-height: 6.875rem;
		font-size: 105px;
	}

	h4 {
		line-height: 6.25rem;
		font-size: 72px;
	}
	
	h5 {
		line-height: 3.125rem;
		font-size: 38px;
	}

	.text {
		font-size: 19px;
	}

	.button {
		height: 4.6875rem;
	}

	.button-text {
		padding: 1.40625rem 0;
	}
}

@media (max-width: 1280px) {
	.text {
		font-size: 20px;
	}
}

@media (max-width: 992px) {
	h2, h3, h4 {
		line-height: 5rem;
		font-size: 76px;
	}
}

@media (max-width: 817px) {
	h1 {
		font-size: 110px;
	}
}

@media (max-width: 768px) {
	.content {
		width: 91.111%;
		margin: 0 4.446%;
	}

	h1, h2, h3, h4 {
		line-height: 5.625rem;
		font-size: 68px;
	}
}

@media (max-width: 480px) {
	h1, h2, h3, h4 {
		line-height: 3.75rem;
		font-size: 50px;
	}
}