.navbar,
.navbar2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 14.444444%;
	padding: 3.333333vh 3.645834%;
}

.navbar {
	position: fixed;
	z-index: 10;
}

.navbar div,
.navbar2 div {
	display: flex;
	align-items: center;
}

.nav-logo {
	height: 7.77778vh; 
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(294deg) brightness(105%) contrast(101%);
}

.navbar1 .nav-logo {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(294deg) brightness(105%) contrast(101%);
}

.nav-logo:hover,
.navbar1 .nav-logo:hover {
	filter: invert(94%) sepia(6%) saturate(3025%) hue-rotate(316deg) brightness(86%) contrast(66%);
}

.navbar2 .nav-logo,
.navbar3 .nav-logo,
.navbar4 .nav-logo {
	filter: invert(94%) sepia(6%) saturate(3025%) hue-rotate(316deg) brightness(86%) contrast(66%);
}

.navbar2 .nav-logo:hover,
.navbar3 .nav-logo:hover {
	filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(77deg) brightness(105%) contrast(103%);
}

.navbar4 .nav-logo:hover {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(294deg) brightness(105%) contrast(101%);
}

.nav-menu {
	display: flex;
	margin-left: 4.375vw;
}

.nav-item {
	position: relative;
	margin-right: 1.041667vw;
}

.nav-item.active {
	padding-bottom: 1.111111vh;
}

.nav-item.active:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 80%;
	height: 0.222222vh;
	background-color: var(--clr-white);
}

.navbar1 .nav-item.active:before {
	background-color: var(--clr-white);
}

.navbar2 .nav-item.active:before,
.navbar3 .nav-item.active:before,
.navbar4 .nav-item.active:before {
	background-color: var(--clr-primary-1);
}

.nav-item:hover::before,
.navbar1 .nav-item:hover::before {
	background-color: var(--clr-primary-1);
}

.navbar2 .nav-item:hover::before,
.navbar3 .nav-item:hover::before {
	background-color: var(--clr-black);
}

.navbar4 .nav-item:before {
	background-color: var(--clr-white);
}

.nav-link {
	line-height: 3.333333vh;
	font-size: 27px;
	cursor: pointer;
}

.navbar1 .nav-link {
	color: var(--clr-white);
}

.navbar2 .nav-link,
.navbar3 .nav-link,
.navbar4 .nav-link {
	color: var(--clr-primary-1);
}

.nav-link:hover,
.navbar1 .nav-link:hover {
	color: var(--clr-primary-1);
}

.navbar2 .nav-link:hover,
.navbar3 .nav-link:hover {
	color: var(--clr-black);
}

.navbar4 .nav-link:hover {
	color: var(--clr-white);
}

.toggle-btn:hover .nav-link,
.navbar1 .toggle-btn:hover .nav-link {
	color: var(--clr-primary-1);
}

.navbar2 .toggle-btn:hover .nav-link,
.navbar3 .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.navbar4 .toggle-btn:hover .nav-link {
	color: var(--clr-white);
}

.toggle-btn:hover .toggle,
.navbar1 .toggle-btn:hover .toggle {
	stroke: var(--clr-primary-1);
}

.navbar2 .toggle-btn:hover .toggle,
.navbar3 .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.navbar4 .toggle-btn:hover .toggle {
	stroke: var(--clr-white);
}

.toggle {
	margin-left: 1.875rem;
	cursor: pointer;
}

.toggle,
.navbar1 .toggle {
	stroke: var(--clr-white);
}

.navbar2 .toggle,
.navbar3 .toggle,
.navbar4 .toggle {
	stroke: var(--clr-primary-1);
}

@media (max-width: 1700px) {
	.nav-link {
		font-size: 24px;
	}
}

@media (max-width: 992px) {
	.navbar,
	.navbar2 {
		height: 12.5%;
		padding: 3.75vh 4.44444%;
	}

	.nav-logo {
		height: 5vh;
	}

	.nav-item {
		margin-right: 2.777778vw;
	}
	
	.nav-link {
		line-height: 2.5vh;
		font-size: 21px;
	}

	.toggle {
		height: 2.5vh;
	}
}

@media (max-width: 768px) {
	.nav-link {
		font-size: 22px;
	}

	.toggle-btn .nav-link,
	.nav-menu,
	.laptop {
		display: none;
	}
	
	.toggle {
		margin: 0;
	}
	
	.mobile {
		display: block;
	}
}

@media (max-width: 480px) {
	.nav-link {
		font-size: 20px;
	}
}