.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8.125rem;
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

.navbar div {
	display: flex;
	align-items: center;
}

.nav-logo {
	height: 4.375rem;
}

.nav-menu {
	display: flex;
	margin-left: 5.25rem;
}

.nav-item {
	position: relative;
	margin-right: 1.25rem;
}

.nav-item.active {
	padding-bottom: 0.625rem;
}

.nav-item.active:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 80%;
	height: 0.125rem;
	background-color: var(--clr-primary-1);
}

.nav-item:hover::before {
	background-color: var(--clr-white);
}

.nav-link {
	line-height: 1.875rem;
	font-size: 27px;
	color: var(--clr-primary-1);
	cursor: pointer;
}

.nav-link:hover {
	color: var(--clr-white);
}

.toggle-btn:hover .nav-link {
	color: var(--clr-white);
}

.toggle-btn:hover .toggle {
	stroke: var(--clr-white);
}

.toggle {
	color: var(--clr-primary-1);
	margin-left: 1.875rem;
	cursor: pointer;
}

.mobile {
	display: none;
}

@media (max-width: 1700px) {
	.nav-link {
		font-size: 24px;
	}
}

@media (max-width: 768px) {
	.navbar {
		align-items: start;
		height: 6.25rem;
		padding: 2.5rem 0;
	}

	.nav-logo {
		height: 2.5rem;
		margin-top: -0.625rem;
	}

	.nav-menu {
		display: none;
	}

	.nav-link {
		font-size: 22px;
	}

	.toggle-btn .nav-link {
		display: none;
	}
	
	.toggle {
		height: 1.25rem;
		margin: 0;
	}

	.laptop {
		display: none;
	}
	
	.mobile {
		display: block;
	}
}

@media (max-width: 480px) {
	.navbar {
		height: 6.25rem;
		padding: 2.5rem 0;
	}

	.nav-link {
		line-height: 1.25rem;
		font-size: 20px;
	}
}