@keyframes line {
	from {
		width: 0;
	} to {
		width: 100%;
	}
}

.slider {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -2;
}

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
}

.slide {
	position: relative;
	width: 20%;
	float: left;
}

.slide:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--clr-black);
	opacity: 0.4;
}

.slide-image.mobile {
	display: none;
}

.slide-image.laptop {
	height: 150vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	margin-top: -160px;
}

.home {
	background-color: var(--clr-primary-2);
}

.home .content {
	padding-top: 8.888889vh;
	padding-bottom: 12.777778vh;
}

.home .title,
.home .subtitle {
	text-align: center;
}

.home .new {
	text-shadow: 4px 0 var(--clr-primary-1), -4px 0 var(--clr-primary-1), 0 4px var(--clr-primary-1), 0 -4px var(--clr-primary-1), 2px 2px var(--clr-primary-1), -2px -2px var(--clr-primary-1), 2px -2px var(--clr-primary-1), -2px 2px var(--clr-primary-1);
}

.home .subtitle {
	position: relative;
	margin: 3.3333vh 0 6.6667vh;
	/* padding-left: 6.875rem; */
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

/*
.home .subtitle:hover {
	padding-left: 7.5rem;
}

.home .subtitle:before {
	content: '';
	position: absolute;
	top: 50%;
	width: 5.625rem;
	height: 0.125rem;
	margin-left: -6.875rem;
	background-color: var(--clr-white);
} */

.home .button {
	width: 23.125rem;
	height: 5rem;
	margin: 0 auto;
}

.home .button-text {
	font-size: 28px;
	padding: 1.5625rem 0;
}

.home .bottom {
	display: flex;
	justify-content: space-between;
	height: 11.11111vh;
	margin-top: 15.5556vh;
}

.home .boxes {
	display: flex;
}

.home .feature {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 14.583vw;
	height: max-content;
	margin-right: 1.042vw;
	padding-bottom: 1rem;
}

.home .feature:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-primary-3);
}

.feature-line {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-white);
}

.home .text {
	font-family: HistoryPro-Two;
	font-size: 20px;
	font-weight: 400;
	margin-top: 4.444444vh;
}

.home .text1 {
	font-size: 17px;
}

.circle {
	width: 3.75rem;
	height: 3.75rem;
	border: 2px solid var(--clr-white);
	border-radius: 50%;
	background-color: var(--clr-primary-2);
	overflow: hidden;
	cursor: pointer;
}

.mini-image {
	width: 100%;
	height: 100%;
}

.home .buttons {
	margin: 3.125rem 0.3125rem 0 0;
}

@media (max-width: 1700px) {
	.home .button-text {
		font-size: 26px;
	}

	.home .text {
		font-size: 18px;
	}
	
	.home .text1 {
		font-size: 14px;
	}
}

@media (max-width: 1440px) {
	.home .new {
		text-shadow: 3px 0 var(--clr-primary-1), -3px 0 var(--clr-primary-1), 0 3px var(--clr-primary-1), 0 -3px var(--clr-primary-1), 1.5px 1.5px var(--clr-primary-1), -1.5px -1.5px var(--clr-primary-1), 1.5px -1.5px var(--clr-primary-1), -1.5px 1.5px var(--clr-primary-1);
	}

	.home .buttons {
		margin: 2.5rem 0.3125rem 0 0;
	}

	.home .button-text {
		font-size: 24px;
	}

	.home .feature {
		width: 13.934vw;
		margin-right: 1.646vw;
	}

	.home .text {
		font-size: 16px;
	}
	
	.home .text1 {
		font-size: 12px;
	}
	
	.circle {
		width: 3.125rem;
		height: 3.125rem;
	}
}

@media (max-width: 1280px) {
	.home .feature {
		display: grid;
		grid-template-areas: 'count circle'
									'text circle';
	}

	.home .text {
		font-size: 14px;
		margin-top: 1.111111vh;
	}

	.home .text1 {
		font-size: 9px;
		grid-area: text;
	}
	
	.home .text2 {
		grid-area: count;
	}
	
	.circle {
		grid-area: circle;
	}
}

@media (max-width: 992px) {
	.home .title {
		line-height: 8.888889vh;
		font-size: 60px;
	}
	
	.home .subtitle {
		line-height: 4.444444vh;
		font-size: 32px;
	}

	.home .button {
		width: 100%;
		height: 4.375rem;
	}

	.home .button-text {
		padding: 1.25rem 0;
	}

	.home .buttons {
		display: none;
	}

	.home .feature {
		width: 16.685306vw;
		margin-right: 1.664499vw;
	}

	.home .feature:before {
		height: 0.125rem;
	}

	.home .text {
		font-size: 18px;
		margin-top: 3.333333vh;
	}

	.circle {
		width: 2.5rem;
		height: 2.5rem;
	}
}

@media (max-width: 768px) {
	.slide-image.laptop {
		display: none;
	}
	
	.slide-image.mobile {
		display: block;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		float: left;
	}

	.home .content {
		padding-top: 11.25vh;
		padding-bottom: 13.75vh
	}	

	.home .title {
		line-height: 8.125vh;
		font-size: 44px;
	}

	.home .new {
		text-shadow: 1px 0 var(--clr-primary-1), -1px 0 var(--clr-primary-1), 0 1px var(--clr-primary-1), 0 -1px var(--clr-primary-1), 0.5px 0.5px var(--clr-primary-1), -0.5px -0.5px var(--clr-primary-1), 0.5px -0.5px var(--clr-primary-1), -0.5px 0.5px var(--clr-primary-1);
	}

	.home .subtitle {
		line-height: 5vh;
		font-size: 28px;
		margin: 3.75vh 0;
		/* padding-left: 3.75rem; */
	}

	/* 
	.home .subtitle:before {
		width: 3.125rem;
		height: 0.0625rem;
		margin-left: -4.375rem;
	} */

	.home .bottom {
		margin-top: 12.5vh;
	}
	
	.home .feature {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		width: 16.666667vw;
		margin-right: 1.944444vw;
		padding: 0;
	}

	.home .feature:before,
	.feature-line {
		height: 0.125rem;
		top: 7.5vh;
	}

	.feature-line {
		left: 0;
	}

	.home .text {
		margin-top: 4.44444vh
	}
			
	.home .text1 {
		display: none;
	}
}

@media (max-width: 480px) {
	.home .content {
		padding-top: 11.25vh;
		padding-bottom: 13.75vh
	}	

	.home .title {
		line-height: 5.625vh;
		font-size: 30px;
	}

	.home .subtitle {
		font-size: 20px;
		/* padding-left: 2.875rem; */
	}

	.home .subtitle:before {
		width: 2.5rem;
		margin-left: -3.125rem;
	}
}