.home.container {
	height: 100vh;
}

.nav-item:before {
	background-color: var(--clr-white);
}

.nav-item:hover::before {
	background-color: var(--clr-primary-1);
}

.nav-link {
	color: var(--clr-white);
}

.nav-link:hover {
	color: var(--clr-primary-1);
}

.toggle {
	stroke: var(--clr-white);
}

.toggle-btn:hover .nav-link {
	color: var(--clr-primary-1);
}

.toggle-btn:hover .toggle {
	stroke: var(--clr-primary-1);
}

.slider {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -2;
}

.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
}

.slide {
	position: relative;
	width: 20%;
	float: left;
}

.slide:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--clr-black);
	opacity: 0.2;
}

.slide-image {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.title {
	margin-top: 5rem;
}

.subtitle {
	position: relative;
	margin-top: 1.875rem;
	padding-left: 6.875rem;
}

.subtitle:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 5.625rem;
	height: 0.125rem;
	background-color: var(--clr-white);
}

.button {
	margin-top: 3.75rem;
}

.button-text {
	font-size: 28px;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 8.75rem;
}

.footer .boxes {
	display: flex;
}

.feature {
	width: 17.5rem;
	height: max-content;
	margin-right: 1.25rem;
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.feature:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-white);
}

.feature p {
	font-family: HistoryPro-Two;
	font-weight: 400;
}

.circle {
	width: 3.75rem;
	height: 3.75rem;
	border: 2px solid var(--clr-white);
	border-radius: 50%;
	background-color: var(--clr-primary-2);
	overflow: hidden;
}

.mini-image {
	width: 100%;
	height: 100%;
}

.footer .text {
	margin-top: 1.5rem;
}

.buttons {
	margin: 3.125rem 0.3125rem 0 0;
}