.slaider .swiper,
.titleM,
.textM,
.buttons-mobile {
	display: none;
}

.interior {
	background-color: var(--clr-white);
}

.vip,
.children {
	background-color: var(--clr-primary-0);
}

.interior .content {
	display: flex;
	gap: 1.041667vw;
	padding-top: 6.666667vh;
	padding-bottom: 15.55556vh;
}

.interior .image-box {
	width: 50%;
	height: calc(56.666667vh + 3.125rem);
	margin-top: 1.111111vh;
}

.interior .image-container {
	position: relative;
	overflow: hidden;
}

.interior .image-mid {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	color: var(--clr-white);
}

.interior .image-box .image-mid {
	font-size: 20px;
}

.interior .image-text {
	position: absolute;
	bottom: 0;
	width: 36.97911667vw;
	color: var(--clr-white);
	z-index: 2;
	margin: 0 0 3.333333vh 1.041667vw;
}

.interior .image-text p {
	font-size: 16px;
	margin-top: 1.111111vh;
}

.interior .image-box .image-container {
	width: 100%;
	height: 100%;
}

.interior img {
	height: 100%;
}

.interior .shade {
	position: absolute;
	bottom: 0;
	left: 0;
}

.interior .image-box .image-title {
	font-size: 30px;
}

.interior-line {
	display: none;
}

.interior .text-box {
	width: 45.83333vw;
	height: 63.333333vh;
}

.interior .header {
	display: flex;
	justify-content: space-between;
	color: var(--clr-primary-1);
	margin-bottom: 5.55556vh;
}

.interior .counter,
.interior .title {
	line-height: 10vh;
	font-size: 70px;
}

.interior .counter {
	opacity: 0.2;
}

.interior .title {
	text-align: right;
}

.interior .text {
	line-height: 2.77778vh;
	width: 30.208333vw;
	height: 11.111111vh;
	text-align: right;
	color: var(--clr-black);
	margin-left: auto;
}

.vip .text {
	color:var(--clr-white);
}

.children .text {
	color:var(--clr-white);
}

.interior .buttons {
	width: 10rem;
	margin: 6.111111vh 0 1.666667vh auto;
}

.interior .images {
	display: flex;
	gap: 1.041667vw;
}

.interior .text-box .image-container {
	width: 14.58333vw;
	height: 23.33333vh;
}

.interior .text-box .image-mid {
	font-size: 16px;
}

.interior .text-box .image-title {
	position: absolute;
	bottom: 0;
	font-size: 16px;
	margin: 0 0 2.222222vh 2.222222vh;
}

@media (max-width: 1700px) {
	.interior .counter,
	.interior .title {
		font-size: 60px;
	}
}

@media (max-width: 1440px) {
	.interior .image-box .image-mid {
		font-size: 18px;
	}

	.interior .image-box .image-title {
		font-size: 28px;
	}

	.interior .counter,
	.interior .title {
		font-size: 55px;
	}

	.interior .image-text p,
	.interior .text-box .image-title,
	.interior .text-box .image-mid {
		font-size: 14px;
	}
}

@media (max-width: 1280px) {
	.interior .image-box .image-mid {
		font-size: 17px;
	}

	.interior .image-box .image-title {
		font-size: 25px;
	}

	.interior .counter,
	.interior .title {
		font-size: 42px;
	}
	
	.interior .image-text p,
	.interior .text-box .image-title,
	.interior .text-box .image-mid {
		font-size: 13px;
	}
}

@media (max-width: 992px) {
	/* Slaider Swiper for Mobail */
	.slaider {
		height: max-content;
	}
	
	.slaider .swiper {
		display: block;
		color: #000000;
	}
	
	.swiper {
		width: 100%;
		height: 87%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;

		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}

	.slaider .mySwiper .swiper-wrapper .swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: fit-content;
	}
	
	.titleM, 
	.textM {
		display: block;
	}
	
	.titleM {
		text-align: left;
		color: #bca48d;
		margin-bottom: 0.33333vh;
		line-height: 5rem;
		 font-size: 35px;
		text-align: start;
	}

	/* The End Slaider Swiper for Mobail */
	.text {
		font-size: 16px;
	}

	.interior .content {
		flex-direction: column;
		justify-content: start;
		gap: 0;
		padding-top: 0;
		padding-bottom: 5.625vh;
	}

	.interior .images,
	.interior .counter,
	.interior .buttons,
	.interior .image-box .image-mid {
		display: none;
	}

	.interior .buttons-mobile {
		display: flex;
		width: max-content;
		margin: 0 auto;
	}

	.interior .image-box {
		display: none;
		position: relative;
		height: 50vh;
		margin: 0 auto;
		padding-bottom: 3.75vh;
	}

	.interior-line {
		display: none;
		position: absolute;
		bottom: 0;
		width: 25%;
		height: 0.0625rem;
		background-color: var(--clr-primary-1);
	}

	.interior .image-box:before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0.0625rem;
		background-color: var(--clr-primary-2);
	}

	.interior .image-box .image-title {
		font-size: 24px;
	}

	.interior .image-text {
		width: 95%;
		margin: 0 0 2.5vh 2.777778vw;
	}
	
	.interior .image-text p {
		font-size: 13px;
	}

	.interior .text-box {
		display: none;
		width: 100%;
		height: max-content;
	}

	.interior .header {
		margin-bottom: 3.75vh;
	}

	.interior .title {
		line-height: 5rem;
		text-align: start;
		font-size: 66px;
	}

	.interior .text {
		width: 100%;
		height: max-content;
		line-height: 3.125vh;
		text-align: left;
		margin: 0 0 2.5vh;
	}
}

@media (max-width: 768px) {
	/* .interior .image-box {
		width: 100%;
	} */

	.interior .image-box .image-title {
		font-size: 21px;
	}

	.interior .header {
		margin-bottom: 3.125vh;
	}

	.interior .title {
		line-height: 3.75rem;
		font-size: 68px;
	}
}

@media (max-width: 480px) {
	.interior .image-box .image-title {
		font-size: 16px;
	}

	.interior .header {
		margin-bottom: 2.5vh;
	}

	.interior .image-box {
		height: 42.5vh;
	}

	.interior .title {
		font-size: 50px;
	}
}

@media (max-width: 375px) {
 	.titleM {
		font-size: 32px;
	}
}