@keyframes fade {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes fadeCounter {
	from {
		opacity: 0;
	} to {
		opacity: 0.2;
	}
}

.kitchenHeader .nav-item:hover::before {
	background-color: var(--clr-black);
}

.kitchenHeader .nav-link:hover {
	color: var(--clr-black);
}

.kitchenHeader .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.kitchenHeader .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.container {
	height: 100vh;
}

.kitchen.content {
	display: flex;
	justify-content: space-between;
	margin: 0.625rem 0 5.625rem;
	gap: 1.25rem;
}

.kitchen .text-box {
	width: 30.208vw;
}

.kitchen .title,
.kitchen .counter {
	color: var(--clr-primary-1);
}

.kitchen .title {
	margin-bottom: 1.875rem;
}

.kitchen .paragraph {
	height: 18.125rem;
	margin-bottom: 3.125rem;
}

.kitchen .text {
	line-height: 2.03125rem;
	color: var(--clr-black);
}

.kitchen .footer {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.kitchen .counter {
	line-height: 5.625rem;
	font-size: 90px;
	opacity: 0.2;
}

.kitchen .buttons {
	margin-bottom: 0.3125rem;
}

.kitchen .image-box {
	width: 65.104vw;
	overflow: hidden;
	margin: 1.875rem -4.375rem 0 0;
}

.kitchen .decoration {
	width: 65.104vw;
}

.kitchen .images {
	display: flex;
	gap: 1.25rem;
}

.kitchen .image-container {
	min-width: 30.208vw;
	height: 35rem;
}

.kitchen .image {
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-3);
}

.kitchen .main-img {
	height: 30rem;
}

.kitchen .image-text {
	line-height: 2.5rem;
}

.kitchen .subtitle {
	position: relative;
	font-size: 24px;
	color: var(--clr-primary-1);
	margin-top: 1.5625rem;
	padding-top: 0.9375rem;
}

.kitchen .subtitle::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.kitchen .image-text {
	font-size: 40px;
	text-align: center;
	color: var(--clr-black);
	padding-top: 15rem;
}

@media (max-width: 1700px) {
	.kitchen .paragraph {
		height: 16.25rem;
		margin-bottom: 2.5rem;
	}
	
	.kitchen .text {
		line-height: 1.875rem;
	}

	.kitchen .image-container {
		height: 28.75rem;
	}

	.kitchen .main-img {
		height: 24.6428571rem;
	}

	.kitchen .image-text {
		padding-top: 11.875rem;
	}
}