.kitchen-menu {
	width: 100%;
	background-color: var(--clr-white);
	scroll-snap-align: start;
}

.kitchen-menu .content {
	height: max-content;
	padding-top: 1.875rem;
	margin-top: 14.444444vh;
	margin-bottom: 7.5rem;
}

.kitchen-menu .header {
	text-align: center;
	width: 55rem;
	margin: 0 auto 3.75rem;
}

.kitchen-menu .title,
.kitchen-menu .counter {
	color: var(--clr-primary-1);
}

.kitchen-menu .subtitle,
.kitchen-menu .text,
.kitchen-menu .image-text {
	color: var(--clr-black);
}

.kitchen-menu .title {
	position: relative;
	line-height: 6.875rem;
	margin-bottom: 1.875rem;
	padding-bottom: 1.875rem;
}

.kitchen-menu .title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: calc(50% - (8.75rem / 2));
	width: 8.75rem;
	height: 0.125rem;
	background-color: var(--clr-primary-1);
}

.kitchen-menu .text {
	line-height: 2.08333rem;
}

.kitchen-menu .boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.kitchen-menu .text-box,
.kitchen-menu .image-box {
	width: 46.354vw;
	height: 36.25rem;
	overflow: hidden;
}

.kitchen-menu .image {
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-3);
	transition: all 0.3s ease-in-out;
}

.kitchen-menu .image:hover {
	transform: scale(1.05);
}

/* .kitchen-menu .image-text, */
.kitchen-menu .counter {
	line-height: 3.125rem;
	font-size: 40px;
}

/* .kitchen-menu .image-text {
	text-align: center;
	color: var(--clr-black);
	padding-top: 15rem;
} */

.right .counter {
	text-align: right;
}

.kitchen-menu .counter {
	margin: 1.25rem 0 5rem;
}

.kitchen-menu .paragraph {
	width: 30.208vw;
	transition: all 0.3s ease-in-out;
}

.kitchen-menu .paragraph:hover {
	transform: scale(1.05);
}

.right .paragraph {
	margin: 0 auto 0 8.333vw;
}

.left .paragraph {
	margin: 0 8.333vw 0 auto;
}

.left .subtitle,
.left .text {
	text-align: right;
}

.kitchen-menu .subtitle {
	position: relative;
	line-height: 2.5rem;
	font-family: MazzardM-Regular;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 1.875rem;
	padding-bottom: 1.25rem;
}

.kitchen-menu .subtitle:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 8.125rem;
	height: 0.125rem;
	background-color: var(--clr-primary-1);
}

.left .subtitle:before {
	right: 0;
}

.right .subtitle:before {
	left: 0;
}

.kitchen-menu .paragraph .text {
	line-height: 1.875rem;
	font-size: 20px;
}

.kitchen-menu .decoration {
	height: 2.5rem;
	/* margin-top: 9.375rem; */
}

@media (max-width: 1700px) {
	.kitchen-menu .header {
		width: 45rem;
		margin-bottom: 3.125rem;
	}
	
	.kitchen-menu .title {
		line-height: 6.25rem;
		margin-bottom: 1.5625rem;
		padding-bottom: 1.5625rem;
	}
	
	.kitchen-menu .text {
		line-height: 2.0833rem;
	}
	
	.kitchen-menu .text-box,
	.kitchen-menu .image-box {
		height: 32.1rem;
	}
	
	/* .kitchen-menu .image-text, */
	.kitchen-menu .counter {
		font-size: 34px;
	}
	
	/* .kitchen-menu .image-text {
		padding-top: 12.96875rem;
	} */

	.kitchen-menu .counter {
		margin-bottom: 3.125rem;
	}

	.kitchen-menu .paragraph {
		width: 30vw;
	}
	
	.kitchen-menu .paragraph .text {
		line-height: 1.625rem;
		font-size: 17px;
	}

	.kitchen-menu .subtitle {
		line-height: 2.1875rem;
		font-size: 26px;
		margin-bottom: 1.875rem;
		padding-bottom: 1.25rem;
	}
}

@media (max-width: 1440px) {
	.kitchen-menu .header {
		width: 37.5rem;
		margin-bottom: 3.125rem;
	}
	
	.kitchen-menu .title {
		line-height: 5rem;
		padding-bottom: 1.25rem;
	}
	
	.kitchen-menu .text {
		line-height: 1.875rem;
	}
	
	.kitchen-menu .text-box,
	.kitchen-menu .image-box {
		height: 27.1871rem;
	}
	
	/* .kitchen-menu .image-text, */
	.kitchen-menu .counter {
		font-size: 30px;
	}
	
	/* .kitchen-menu .image-text {
		padding-top: 11.40625rem;
	} */

	.kitchen-menu .counter {
		margin: 0.9375rem 0 2.1875rem;
	}

	.kitchen-menu .paragraph {
		width: 32vw;
	}

	.kitchen-menu .paragraph .text {
		line-height: 1.5rem;
		font-size: 16px;
	}
	
	.kitchen-menu .subtitle {
		font-size: 24px;
		margin-bottom: 1.25rem;
		padding-bottom: 0.9375rem;
	}
	
	.kitchen-menu .decoration {
		height: 1.875rem;
	}
}

@media (max-width: 1280px) {
	.kitchen-menu .text-box,
	.kitchen-menu .image-box {
		height: 24.16653rem;
	}
	
	/* .kitchen-menu .image-text, */
	.kitchen-menu .counter {
		line-height: 2.5rem;
		font-size: 26px;
	}
	
	/* .kitchen-menu .image-text {
		padding-top: 10.15625rem;
	} */

	.kitchen-menu .counter {
		margin: 0.9375rem 0 2.1875rem;
	}

	.kitchen-menu .paragraph {
		width: 35vw;
	}

	.right .paragraph {
		margin-left: 5.556vw;
	}
	
	.left .paragraph {
		margin-right: 5.556vw;
	}
	
	.kitchen-menu .subtitle {
		font-size: 22px;
		margin-bottom: 0.9375rem;
		padding-bottom: 0.625rem;
	}

	.kitchen-menu .paragraph .text {
		line-height: 1.25rem;
		font-size: 14px;
	}
}

@media (max-width: 992px) {
	.kitchen-menu .header {
		margin: 0 auto 2.5rem;
	}

	.kitchen-menu .title {
		padding-bottom: 1.5625rem;
	}

	.kitchen-menu .text-box,
	.kitchen-menu .image-box {
		height: 18.729rem;
	}

	/* .kitchen-menu .image-text {
		width: 70%;
		margin: 0 auto;
		padding-top: 7.5rem;
	} */
	
	.kitchen-menu .counter {
		line-height: 2.1875rem;
		margin: 0.3125rem 0 0.625rem;
	}

	.kitchen-menu .subtitle {
		font-size: 19px;
	}
	
	.kitchen-menu .paragraph .text {
		line-height: 1.125rem;
		font-size: 12px;
	}
}

@media (max-width: 848px) {
	.kitchen-menu .counter {
		line-height: 1.875rem;
	}

	.kitchen-menu .subtitle {
		line-height: 1.5625rem;
		font-size: 24px;
	}
}

@media (max-width: 768px) {
	.kitchen-menu .content {
		margin-top: 1.25rem;
	}

	.kitchen-menu .header {
		width: 100%;
		height: max-content;
		margin-bottom: 1.875rem;
		padding: 0;
	}

	.kitchen-menu .title {
		margin-bottom: 0.9375rem;
		padding-bottom: 1.25rem;
	}

	.kitchen-menu .text {
		font-size: 17px;
	}

	.kitchen-menu .boxes {
		display: grid;
		grid-template-columns: auto;
		grid-template-areas: 'imageBox1'
									'textBox1'
									'imageBox2'
									'textBox2'
									'imageBox3'
									'textBox3'
									'imageBox4'
									'textBox4'
									'imageBox5'
									'textBox5';
	}

	#box1 {
		grid-area: imageBox1;
	}

	#box2 {
		grid-area: textBox1;
	}

	#box3 {
		grid-area: textBox2;
	}

	#box4 {
		grid-area: imageBox2;
	}

	#box5 {
		grid-area: imageBox3;
	}

	#box6 {
		grid-area: textBox3;
	}

	#box7 {
		grid-area: textBox4;
	}

	#box8 {
		grid-area: imageBox4;
	}

	#box9 {
		grid-area: imageBox5;
	}

	#box10 {
		grid-area: textBox5;
	}

	.kitchen-menu .image-box {
		width: 62.5vw;
		height: 43.82552083vw;
	}
	
	.kitchen-menu .text-box {
		width: 62.5vw;
		height: max-content;
		margin: 0 auto;
	}

	/* .kitchen-menu .image-text {
		line-height: 3.125rem;
		font-size: 34px;
		padding-top: 7.5rem;
	}	 */

	.kitchen-menu img.laptop,
	.kitchen-menu .counter {
		display: none;
	}
	
	.kitchen-menu img.mobile {
		display: block;
	}

	.kitchen-menu .image-box img {
		width: 100%;
		height: max-content;
	}

	.kitchen-menu .paragraph {
		width: 100%;
	}
	
	.right .paragraph,
	.left .paragraph {
		margin: 3.125rem 0 0;
	}

	.kitchen-menu .image:hover,
	.kitchen-menu .paragraph:hover {
		transform: none;
	}

	.left .subtitle,
	.left .text {
		text-align: left;
	}

	.left .subtitle:before,
	.right .subtitle:before {
		left: 0;
		width: 2.5rem;
	}

	.kitchen-menu .subtitle {
		line-height: 2.5rem;
		font-size: 21px;
		margin-bottom: 1.5625rem;
		padding-bottom: 1.25rem;
	}
	
	.kitchen-menu .paragraph .text {
		height: max-content;
		line-height: 1.5625rem;
		font-size: 17px;
	}

	.kitchen-menu .decoration {
		width: 100%;
		height: 2.5rem;
	}
}

@media (max-width: 754px) {
	.kitchen-menu .subtitle {
		line-height: 2.1875rem;
		font-size: 27px;
		margin-bottom: 1.5625rem;
		padding-bottom: 1.25rem;
	}

	.kitchen-menu .paragraph .text {
		font-size: 19px;
	}
}

@media (max-width: 650px) {
	.kitchen-menu .subtitle {
		font-size: 20px;
	}

	.kitchen-menu .paragraph .text {
		font-size: 16px;
	}
}

@media (max-width: 534px) {
	.kitchen-menu .subtitle {
		font-size: 23px;
		margin-bottom: 1.25rem;
		padding-bottom: 0.9375rem;
	}

	.kitchen-menu .paragraph .text {
		line-height: 1.75rem;
		font-size: 17px;
	}
}

@media (max-width: 480px) {
	.kitchen-menu .header {
		margin-bottom: 1.25rem;
	}

	.kitchen-menu .title {
		padding-bottom: 0.9375rem;
	}

	.kitchen-menu .text {
		line-height: 1.5625rem;
		font-size: 15px;
	}

	.kitchen-menu .image-box,
	.kitchen-menu .text-box {
		width: 100%;
	}
	
	.kitchen-menu .text-box {
		height: 17.5rem;
	}

	.kitchen-menu .image-box {
		height: 14.375rem;
	}

	/* .kitchen-menu .image-text {
		line-height: 1.875rem;
		font-size: 28px;
		padding-top: 5.3125rem;
	}	 */

	.kitchen-menu .paragraph {
		margin-top: 2.1875rem;
	}

	.kitchen-menu .subtitle {
		line-height: 1.5625rem;
		font-size: 18px;
		margin-bottom: 0.9375rem;
	}

	.kitchen-menu .paragraph .text {
		height: 9.375rem;
		line-height: 1.5625rem;
		font-size: 15px;
	}

	.kitchen-menu .decoration {
		height: 1.25rem;
	}
}