.menues.content {
	margin-top: 1.875rem;
}

.menues .header {
	text-align: center;
	width: 55rem;
	margin: 0 auto 3.75rem;
}

.menues .title,
.menues .counter {
	color: var(--clr-primary-1);
}

.menues .subtitle,
.menues .text,
.image-text {
	color: var(--clr-black);
}

.menues .title {
	position: relative;
	line-height: 6.875rem;
	margin-bottom: 1.875rem;
	padding-bottom: 1.875rem;
}

.menues .title:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: calc(50% - (8.75rem / 2));
	width: 8.75rem;
	height: 0.125rem;
	background-color: var(--clr-primary-1);
}

.menues .text {
	line-height: 2.0833rem;
}

.menues .boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.menues .text-box,
.menues .image-box {
	width: 46.354vw;
	height: 36.25rem;
}

.menues .image {
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-3);
}

.menues .image-text,
.menues .counter {
	line-height: 3.125rem;
	font-size: 40px;
}

.menues .image-text {
	text-align: center;
	color: var(--clr-black);
	padding-top: 15rem;
}

.right .counter {
	text-align: right;
}

.menues .counter {
	margin: 1.25rem 0 5rem;
}

.menues .paragraph {
	width: 30.208vw;
}

.right .paragraph {
	margin: 0 auto 0 8.333vw;
}

.left .paragraph {
	margin: 0 8.333vw 0 auto;
}

.left .subtitle,
.left .text {
	text-align: right;
}

.menues .subtitle {
	position: relative;
	line-height: 2.5rem;
	font-size: 30px;
	margin-bottom: 1.875rem;
	padding-bottom: 1.25rem;
}

.menues .subtitle:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 8.125rem;
	height: 0.125rem;
	background-color: var(--clr-primary-1);
}

.left .subtitle:before {
	right: 0;
}

.right .subtitle:before {
	left: 0;
}

.menues .paragraph .text {
	line-height: 1.875rem;
}

.menues .decoration {
	width: 46.354vw;
	height: 2.5rem;
	margin-top: 9.375rem;
}

@media (max-width: 1700px) {
	.menues.content .header {
		width: 45rem;
		margin-bottom: 3.125rem;
	}
	
	.menues .title {
		line-height: 6.25rem;
		margin-bottom: 1.5625rem;
		padding-bottom: 1.5625rem;
	}
	
	.menues .text {
		line-height: 2.0833rem;
	}
	
	.menues .text-box,
	.menues .image-box {
		height: 28.125rem;
	}
	
	.menues .image-text,
	.menues .counter {
		font-size: 34px;
	}
	
	.menues .image-text {
		padding-top: 12.96875rem;
	}

	.menues .counter {
		margin-bottom: 3.125rem;
	}

	.menues .paragraph {
		width: 30vw;
	}
	
	.menues .subtitle {
		line-height: 2.1875rem;
		font-size: 26px;
		margin-bottom: 1.875rem;
		padding-bottom: 1.25rem;
	}
	
	.menues .decoration {
		margin-top: 3.4375rem;
	}
}

@media (max-width: 1440px) {
	.menues.content .header {
		width: 37.5rem;
		margin-bottom: 3.125rem;
	}
	
	.menues .title {
		line-height: 5rem;
		padding-bottom: 1.25rem;
	}
	
	.menues .text {
		line-height: 1.875rem;
	}
	
	.menues .text-box,
	.menues .image-box {
		height: 25rem;
	}
	
	.menues .image-text,
	.menues .counter {
		font-size: 30px;
	}
	
	.menues .image-text {
		padding-top: 11.40625rem;
	}

	.menues .counter {
		margin: 0.9375rem 0 2.1875rem;
	}

	.menues .paragraph {
		width: 32vw;
	}
	
	.menues .subtitle {
		margin-bottom: 1.25rem;
		padding-bottom: 0.9375rem;
	}
	
	.menues .decoration {
		height: 1.875rem;
		margin-top: 3.125rem;
	}
}

@media (max-width: 1280px) {
	.menues .text-box,
	.menues .image-box {
		height: 22.5rem;
	}
	
	.menues .image-text,
	.menues .counter {
		line-height: 2.5rem;
		font-size: 26px;
	}
	
	.menues .image-text {
		padding-top: 10.15625rem;
	}

	.menues .counter {
		margin: 0.9375rem 0 2.1875rem;
	}

	.menues .paragraph {
		width: 35vw;
	}

	.right .paragraph {
		margin-left: 5.556vw;
	}
	
	.left .paragraph {
		margin-right: 5.556vw;
	}
	
	.menues .subtitle {
		margin-bottom: 0.9375rem;
		padding-bottom: 0.625rem;
	}
	
	.menues .paragraph .text {
		line-height: 1.5625rem;
		font-size: 17px;
	}
	
	.menues .decoration {
		margin-top: 3.4375rem;
	}
}

@media (max-width: 1026px) {
	.menues .decoration {
		margin-top: 1.875rem;
	}
}

@media (max-width: 992px) {
	.menues.content {
		margin-top: 1.875rem;
	}

	.menues .header {
		margin: 0 auto 2.5rem;
	}

	.menues .title {
		padding-bottom: 1.5625rem;
	}

	.menues .text-box,
	.menues .image-box {
		height: 20rem;
	}

	.menues .image-text {
		width: 70%;
		margin: 0 auto;
	}
	
	.menues .image-text {
		padding-top: 7.5rem;
	}
	
	.menues .counter {
		line-height: 2.1875rem;
		margin: 0.3125rem 0 0.625rem;
	}
	
	.menues .paragraph .text {
		font-size: 17px;
	}
}

@media (max-width: 848px) {
	.menues .counter {
		line-height: 1.875rem;
	}

	.menues .subtitle {
		line-height: 1.5625rem;
		font-size: 24px;
	}

	.menues .decoration {
		margin-top: 1.25rem;
	}
}