@keyframes animationWidth {
	from {
		width: 100%;
	} to {
		width: 0;
	}
}

@keyframes fadeCounter {
	from {
		opacity: 0;
	} to {
		opacity: 0.2;
	}
}

.kitchen {
	background-color: var(--clr-white);
}

.kitchen .content {
	display: flex;
	justify-content: space-between;
	padding-top: 1.11111vh;
	padding-bottom: 10vh;
	gap: 1.041667vw;
}

.kitchen .text-box {
	width: 30.20833vw;
}

.kitchen .title,
.kitchen .counter {
	color: var(--clr-primary-1);
}

.kitchen .title {
	margin-bottom: 3.33333vh;
}

.kitchen .paragraph {
	height: 18.125rem;
	margin-bottom: 5.55556vh;
}

.kitchen .text {
	line-height: 2.03125rem;
	color: var(--clr-black);
}

.kitchen .footer {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.kitchen .counter {
	line-height: 5.625rem;
	font-size: 90px;
	opacity: 0.2;
}

.kitchen .buttons {
	margin-bottom: -1.5625rem;
}

.kitchen .image-box {
	width: 65.104vw;
	overflow: hidden;
	margin: 3.33333vh -3.646vw 0 0;
	overflow: hidden;
}

.kitchen .images {
	display: flex;
	gap: 1.041667vw;
	margin-top: 2.22222vh;
}

.kitchen .image-container {
	min-width: 36.25rem;
	height: 35rem;
}

.main-image-bc,
.kitchen .image-bc {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-3);
}

.kitchen .image-bc:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--clr-black);
	opacity: 0.4;
	z-index: 7;
}

.main-image-bc {
	height: 30rem;
}

.kitchen .image,
.kitchen .image2 {
	width: 100%;
	height: 100%;
}

.kitchen .image2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
}

#image1,
#image2,
#image3 {
	position: relative;
}

.kitchen .image-text,
.kitchen .subtitle {
	line-height: 2.5rem;
}

.kitchen .subtitle {
	position: relative;
	font-size: 24px;
	color: var(--clr-primary-1);
	margin-top: 1.66667vh;
	padding-top: 2.77778vh;
}

.kitchen .subtitle::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.kitchen .image-text {
	font-size: 40px;
	text-align: center;
	color: var(--clr-black);
	padding-top: 15rem;
}

@media (max-width: 1700px) {
	.kitchen .counter {
		line-height: 5rem;
		font-size: 80px;
	}

	.kitchen .image-container {
		min-width: 32.366rem;
		height: 31.25rem;
	}

	.main-image-bc {
		height: 26.25rem;
	}

	.kitchen .image-text {
		padding-top: 11.875rem;
	}
}

@media (max-width: 1440px) {
	.kitchen .content {
		gap: 1.641667vw;
	}

	.kitchen .image-box {
		width: 64.504vw;
	}

	.kitchen .paragraph {
		height: 18.28125rem;
		margin: 0;
	}
	
	.kitchen .counter {
		line-height: 4.375rem;
		font-size: 65px;
	}
	
	.kitchen .text {
		line-height: 1.75rem;
	}

	.kitchen .decoration {
		height: 3.125rem;
	}

	.kitchen .image-container {
		height: 29.777rem;
		height: 28.75rem;
	}

	.main-image-bc {
		height: 23.75rem;
	}
}

@media (max-width: 1280px) {
	.kitchen .text-box {
		width: 36.29vw;
	}

	.kitchen .image-box {
		width: 56.552vw;
	}

	.kitchen .image-container {
		min-width: 24.138rem;
		height: 25rem;
	}

	.main-image-bc {
		height: 20rem;
	}
}

@media (max-width: 992px) {
	.kitchen .content {
		flex-direction: column;
		gap: 0;
		padding: 3.33333vh 4.444vw 8.88889vh;
	}

	.kitchen .text-box {
		width: 100%;
	}

	.kitchen .paragraph {
		height: max-content;
		margin-bottom: 1.875rem;
	}
	
	.kitchen .text {
		line-height: 1.5625rem;
	}

	.kitchen .footer,
	.kitchen .decoration {
		display: none;
	}

	.kitchen .image-box {
		width: calc(100% + 3.64583vw);
		margin: 0 -3.64583vw 0 0;
	}

	.kitchen .images {
		gap: 1.5rem;
		margin: 0;
	}
	
	.kitchen .image-container {
		min-width: 18.5625rem;
		max-width: 18.5625rem;
		height: 22.5rem;
	}

	.kitchen .main-img {
		display: flex;
		flex-direction: row-reverse;
	}
	
	.main-image-bc {
		position: relative;
		min-width: 16.0625rem;
		max-width: 16.0625rem;
		height: 22.5rem;
	}

	.kitchen .subtitle {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		width: 22.5rem;
		height: 22.5rem;
		line-height: 3.125rem;
		margin: 0 0 0 -100vw;
		padding-top: 0;
	}
	
	.kitchen .subtitle::before {
		background-color: transparent;
	}

	.kitchen .image-text {
		font-size: 32px;
		padding-top: 10rem;
	}
}

@media (max-width: 768px) {
	.kitchen .content {
		width: 91.111vw;
		padding: 1.25rem 4.444vw 4.275rem;
	}

	.kitchen .title {
		margin-bottom: 1.25rem;
	}

	.kitchen .image-box {
		width: calc(100% + 4.446%);
		margin: 0 -100vw 0 0;
	}

	.kitchen .image-container {
		min-width: 15.125rem;
		max-width: 15.125rem;
		height: 18.125rem;
	}

	.kitchen .images {
		gap: 1rem;
	}
	
	.main-image-bc {
		min-width: 12.625rem;
		max-width: 12.625rem;
		height: 18.125rem;
	}

	.kitchen .image-text {
		font-size: 28px;
		padding-top: 7.8125rem;
	}

	.kitchen .subtitle {
		line-height: 2.5rem;
		font-size: 20px;
		padding-left: 0.625rem;
	}
}

@media (max-width: 480px) {
	.kitchen .paragraph {
		margin-bottom: 1.25rem;
	}

	.kitchen .text {
		line-height: 1.5625rem;
		font-size: 15px;
	}
}