@keyframes fade {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

@keyframes fadeCounter {
	from {
		opacity: 0;
	} to {
		opacity: 0.2;
	}
}

/* .kitchenHeader .nav-item:hover::before {
	background-color: var(--clr-black);
}

.kitchenHeader .nav-link:hover {
	color: var(--clr-black);
}

.kitchenHeader .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.kitchenHeader .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
} */

.kitchen .content {
	display: flex;
	justify-content: space-between;
	padding-top: 8.75rem;
	padding-bottom: 5.625rem;
	gap: 1.25rem;
}

.kitchen .text-box {
	width: 30.208vw;
}

.kitchen .title,
.kitchen .counter {
	color: var(--clr-primary-1);
}

.kitchen .title {
	margin-bottom: 1.875rem;
}

.kitchen .paragraph {
	height: 18.125rem;
	margin-bottom: 3.125rem;
}

.kitchen .text {
	line-height: 2.03125rem;
	color: var(--clr-black);
}

.kitchen .footer {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.kitchen .counter {
	line-height: 5.625rem;
	font-size: 90px;
	opacity: 0.2;
}

.kitchen .buttons {
	margin-bottom: 0.3125rem;
}

.kitchen .image-box {
	width: 65.104vw;
	overflow: hidden;
	margin: 1.875rem -3.646vw 0 0;
}

.kitchen .decoration {
	width: 65.104vw;
}

.kitchen .images {
	display: flex;
	gap: 1.25rem;
}

.kitchen .image-container {
	min-width: 30.208vw;
	height: 35rem;
}

.kitchen .image {
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary-3);
}

.main-img .image {
	height: 30rem;
}

.kitchen .image-text {
	line-height: 2.5rem;
}

.kitchen .subtitle {
	position: relative;
	font-size: 24px;
	color: var(--clr-primary-1);
	margin-top: 1.5625rem;
	padding-top: 0.9375rem;
}

.kitchen .subtitle::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.kitchen .image-text {
	font-size: 40px;
	text-align: center;
	color: var(--clr-black);
	padding-top: 15rem;
}

@media (max-width: 1700px) {
	.kitchen .paragraph {
		height: 16.25rem;
		margin-bottom: 2.5rem;
	}
	
	.kitchen .text {
		line-height: 1.875rem;
	}

	.kitchen .counter {
		line-height: 5rem;
		font-size: 80px;
	}

	.kitchen .image-container {
		height: 28.75rem;
	}

	.main-img .image {
		height: 24.6428571rem;
	}

	.kitchen .image-text {
		padding-top: 11.875rem;
	}
}

@media (max-width: 1440px) {
	.kitchen.content {
		margin-top: 1.874rem;
		gap: 0.9375rem;
	}

	.kitchen .paragraph {
		height: 18.75rem;
		margin-bottom: 1.5625rem;
	}
	
	.kitchen .counter {
		line-height: 4.375rem;
		font-size: 65px;
	}
	
	.kitchen .text {
		line-height: 1.75rem;
	}

	.kitchen .decoration {
		height: 3.125rem;
	}

	.kitchen .images {
		margin-top: 1.5625rem;
	}

	.kitchen .image-container {
		height: 26.25rem;
	}

	.main-img .image {
		height: 22.7678571rem;
	}
}

@media (max-width: 1280px) {
	.kitchen .text-box {
		width: 36.29vw;
	}

	.kitchen .paragraph {
		height: max-content;
	}

	.kitchen .image-box,
	.kitchen .decoration {
		width: 58.552vw;
	}

	.kitchen .image-container {
		min-width: 33.77vw;
		height: 42.339vw;
		max-height: 27.5rem;
	}

	.main-img .image {
		height: 35.786vw;
		max-height: 23.125rem;
	}
}

@media (max-width: 992px) {
	.kitchenContainer {
		height: max-content;
	}

	.kitchen.content {
		flex-direction: column;
		gap: 0;
		margin: 1.875rem 0 5rem;
	}

	.kitchen .text-box {
		width: 100%;
	}

	.kitchen .paragraph {
		margin-bottom: 1.875rem;
	}
	
	.kitchen .text {
		line-height: 1.875rem;
	}

	.kitchen .footer,
	.kitchen .decoration {
		display: none;
	}

	.kitchen .image-box {
		width: calc(100% + 3.64583vw);
		margin: 0 -3.64583vw 0 0;
	}

	.kitchen .images {
		gap: 1.5rem;
		margin: 0;
	}
	
	.kitchen .image-container {
		min-width: 18.5625rem;
		max-width: 18.5625rem;
		height: 22.5rem;
	}

	.kitchen .main-img {
		display: flex;
		flex-direction: row-reverse;
	}
	
	.main-img .image {
		position: relative;
		min-width: 16.0625rem;
		max-width: 16.0625rem;
		height: 22.5rem;
	}

	.kitchen .subtitle {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		width: 22.5rem;
		height: 22.5rem;
		line-height: 3.125rem;
		margin: 0 0 0 -100vw;
		padding-top: 0;
	}
	
	.kitchen .subtitle::before {
		background-color: transparent;
	}

	.kitchen .image-text {
		font-size: 32px;
		padding-top: 10rem;
	}
}

@media (max-width: 768px) {
	.kitchen.content {
		width: 91.111vw;
		margin: 1.25rem 4.444vw 4.275rem;
	}

	.kitchen .title {
		margin-bottom: 1.25rem;
	}

	.kitchen .image-box {
		width: calc(100% + 4.446%);
		margin: 0 -100vw 0 0;
	}

	.kitchen .image-container {
		min-width: 15.125rem;
		max-width: 15.125rem;
		height: 18.125rem;
	}

	.kitchen .images {
		gap: 1rem;
	}
	
	.main-img .image {
		min-width: 12.625rem;
		max-width: 12.625rem;
		height: 18.125rem;
	}

	.kitchen .image-text {
		font-size: 28px;
		padding-top: 7.8125rem;
	}

	.kitchen .subtitle {
		line-height: 2.5rem;
		font-size: 20px;
		padding-left: 0.625rem;
	}
}

@media (max-width: 480px) {
	.kitchen .paragraph {
		margin-bottom: 1.25rem;
	}

	.kitchen .text {
		line-height: 1.5625rem;
		font-size: 15px;
	}
}