.locations.container {
	height: 100vh;
}

.locations .nav-item:hover::before {
	background-color: var(--clr-black);
}

.locations .nav-link:hover {
	color: var(--clr-black);
}

.locations .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.locations .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.locations.content {
	display: flex;
	justify-content: space-between;
	margin-top: 3.125rem;
}

.map-box {
	position: relative;
	width: 53.646vw;
	height: 37.5rem;
	background-color: var(--clr-primary-3);
}

.map {
	position: relative;
}

.map-box::before,
.map-box::after,
.map::before,
.map::after {
	position: absolute;
	display: block;
	content: '';
	background-color: var(--clr-primary-1);
}

.map-box::before {
	bottom: -1.875rem;
	left: 1.875rem;
	width: 100%;
	height: 2px;
}

.map-box::after {
	top: 1.875rem;
	right: -1.875rem;
	width: 2px;
	height: 100%;
}

.map::before {
	top: 1.875rem;
	right: -1.875rem;
	width: 1.875rem;
	height: 2px;
}

.map::after {
	bottom: calc(-1.875rem - 37.5rem);
	left: 1.875rem;
	width: 2px;
	height: 1.875rem;
}

.text-box {
	width: 38.021vw;
	margin-top: 6.875rem;
}

.locations .title,
.locations .text {
	text-align: right;
}

.locations .title {
	position: relative;
	line-height: 9.375rem;
	color: var(--clr-primary-1);
	margin-bottom: 1.875rem;
	padding-bottom: 0.625rem;
}

.locations .title::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.locations .text {
	width: 36.25rem;
	line-height: 2.03125rem;
	color: var(--clr-black);
	margin-left: auto;
}