.locations {
	background-color: var(--clr-white);
}

.locations .nav-logo:hover {
	filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(77deg) brightness(105%) contrast(103%);
}

.locations .nav-item:hover::before {
	background-color: var(--clr-black);
}

.locations .nav-link:hover {
	color: var(--clr-black);
}

.locations .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.locations .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.locations .content {
	display: flex;
	justify-content: space-between;
	padding-top: 5.55556vh;
	padding-bottom: 13.3333vh;
}

.map-box {
	position: relative;
	width: 53.646vw;
	height: 66.6667vh;
	background-color: var(--clr-primary-3);
}

.map {
	position: relative;
}

.map-box::before,
.map-box::after,
.map::before,
.map::after {
	position: absolute;
	display: block;
	content: '';
	background-color: var(--clr-primary-1);
}

.map-box::before {
	bottom: -1.875rem;
	left: 1.875rem;
	width: 100%;
	height: 0.125rem;
}

.map-box::after {
	top: 1.875rem;
	right: -1.875rem;
	width: 0.125rem;
	height: 100%;
}

.map::before {
	top: 1.875rem;
	right: -1.875rem;
	width: 1.875rem;
	height: 0.125rem;
}

.map::after {
	bottom: calc(-1.875rem - 66.667vh);
	left: 1.875rem;
	width: 0.125rem;
	height: 1.875rem;
}

.locations .text-box {
	width: 38.021vw;
	margin-top: 12.2222vh;
}

.locations .title,
.locations .text {
	text-align: right;
}

.locations .title {
	position: relative;
	line-height: 9.375rem;
	color: var(--clr-primary-1);
	margin-bottom: 1.875rem;
	padding-bottom: 0.625rem;
}

.locations .title::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.locations .text {
	width: 30.208vw;
	line-height: 2.03125rem;
	color: var(--clr-black);
	margin-left: auto;
}

@media (max-width: 1700px) {
	.locations {
		padding-top: 2.5rem;
	}

	.map-box {
		width: 48.611vw;
		height: 60.914vh;
	}

	.map-box::before {
		bottom: -1.5625rem;
		left: 1.5625rem;
	}
	
	.map-box::after {
		top: 1.5625rem;
		right: -1.5625rem;
	}
	
	.map::before {
		top: 1.5625rem;
		right: -1.5625rem;
		width: 1.5625rem;
	}
	
	.map::after {
		bottom: calc(-1.5625rem - 60.914vh);
		left: 1.5625rem;
		height: 1.5625rem;
	}

	.text-box {
		width: 43.056vw;
		margin-top: 5rem;
	}

	.locations .title {
		line-height: 7.8125rem;
	}

	.locations .text {
		width: 35.243vw;
	}
}

@media (max-width: 1440px) {
	.locations.content {
		margin-top: 3.125rem;
	}

	.map-box {
		height: 53.299vh;
	}

	.map::after {
		bottom: calc(-1.5625rem - 53.299vh);
	}

	.text-box {
		margin-top: 3.75rem;
	}

	.locations .title {
		line-height: 6.875rem;
	}

	.locations .text {
		line-height: 1.875rem;
	}
}

@media (max-width: 1280px) {
	.locations.content {
		flex-direction: column-reverse;
		margin-top: 1.875rem;
	}

	.map-box,
	.text-box {
		width: 92.708vw;
	}

	.text-box {
		margin: 0 0 2.5rem;
	}
	
	.locations .title,
	.locations .text {
		text-align: center;
	}

	.locations .title::before {
		width: 33.333%;
		left: 33.333%;
	}
	
	.locations .text {
		width: 80%;
		margin: 0 auto;
	}

	.map-box::before,
	.map-box::after,
	.map::before,
	.map::after {
		display: none;
	}
}

@media (max-width: 992px) {
	.locations.content {
		margin: 1.875rem 0 5rem;
	}
	
	.locations .title {
		line-height: 5rem;
		margin-bottom: 1.5625rem;
		padding-bottom: 1.5625rem;
	}

	.map-box {
		height: 43.75vh;
	}
}

@media (max-width: 768px) {
	.locations.content {
		margin: 1.25rem 0 4.375rem;
	}

	.map-box,
	.text-box {
		width: 100%;
	}

	.text-box {
		margin-bottom: 1.875rem;
	}

	.locations .title {
		line-height: 5.625rem;
		margin-bottom: 0.9375rem;
		padding-bottom: 1.25rem;
	}

	.locations .text {
		width: 100%;
		line-height: 1.875rem;
		font-size: 18px;
	}

	.map-box {
		height: 21.875rem;
	}
}

@media (max-width: 480px) {
	.text-box {
		margin-bottom: 1.25rem;
	}

	.locations .title {
		line-height: 3.75rem;
		padding-bottom: 0.935rem;
	}

	.locations .text-box {
		width: 100%;
	}

	.locations .text {
		line-height: 1.5625rem;
		font-size: 16px;
	}
}