.locations.container {
	height: 100vh;
}

.locations .nav-item:hover::before {
	background-color: var(--clr-black);
}

.locations .nav-link:hover {
	color: var(--clr-black);
}

.locations .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.locations .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.locations.content {
	display: flex;
	justify-content: space-between;
	margin-top: 3.125rem;
}

.map-box {
	width: 64.375rem;
	height: 37.5rem;
	background-color: var(--clr-primary-3);
}

.text-box {
	width: 45.625rem;
	margin-top: 6.875rem;
}

.locations .title,
.locations .text {
	text-align: right;
}

.locations .title {
	position: relative;
	line-height: 9.375rem;
	color: var(--clr-primary-1);
	margin-bottom: 1.875rem;
	padding-bottom: 0.625rem;
}

.locations .title::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	width: 17.5rem;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.locations .text {
	line-height: 2.03125rem;
	color: var(--clr-black);
	margin-left: auto;
}