.menu.container {
	height: 100vh;
	background-color: transparent;
}

.menu {
	display: none;
	z-index: 1;
}

.menu .nav-item:hover::before {
	background-color: var(--clr-black);
}

.menu .nav-link:hover {
	color: var(--clr-black);
}

.menu .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.menu .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.active {
	display: block;
}

.menu-container.content {
	display: flex;
	justify-content: space-between;
	margin: 1.875rem auto;
	padding-bottom: 5.625rem;
}

.menu .boxes {
	margin: 1.875rem 0 0 5rem;
}

.menu-box {
	position: relative;
	display: flex;
	margin-bottom: 1.25rem;
}

.menu-box ul {
	width: 14.583v
}

.menu-item {
	width: max-content;
	cursor: pointer;
	margin-bottom: 0.625rem;
}

.menu-item a {
	line-height: 3.75rem;
	font-size: 40px;
	color: var(--clr-black);
}

.menu-item a:hover {
	color: var(--clr-primary-1);
}

.menu-item img {
	position: absolute;
	display: block;
	width: 34.896vw;
	height: 24.375rem;
	top: 0.625rem;
	margin-left: 17.5rem;
}

.menu-item .main:not(:hover) + img.main {
	display: none;
}

.menu-item .about:not(:hover) + img.about {
	display: none;
}

.menu-item .location:not(:hover) + img.location {
	display: none;
}

.menu-item .kitchen:not(:hover) + img.kitchen {
	display: none;
}

.menu-item .reserv:not(:hover) + img.reserv {
	display: none;
}

.menu-item .contact:not(:hover) + img.contact {
	display: none;
}

h1 {
	width: 31.25vw;
	text-align: right;
	word-wrap: break-word;
}

.menu .arrow {
	height: 100%;
	margin: 10rem -8.75rem 0 0;
}

.contacts {
	position: relative;
	display: flex;
	gap: 1.25rem;
	width: 49.479vw;
	padding-top: 1.875rem;
}

.contacts:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.contact-box {
	width: 14.583vw;
}

.contact-box p {
	line-height: 1.875rem;
	color: var(--clr-black);
}

.contact-box .title {
	font-size: 22px;
	margin-bottom: 1.25rem;
}

.contact-box .text {
	width: 12.5vw;
	line-height: 1.875rem;
	font-size: 18px;
	margin-top: 0.625rem;
}