.menu.container {
	height: 100vh;
	background-color: transparent;
}

.menu {
	display: none;
	z-index: 1;
}

.menu .nav-item:hover::before {
	background-color: var(--clr-black);
}

.menu .nav-link:hover {
	color: var(--clr-black);
}

.menu .toggle-btn:hover .nav-link {
	color: var(--clr-black);
}

.menu .toggle-btn:hover .toggle {
	stroke: var(--clr-black);
}

.active {
	display: block;
}

.menu-container.content {
	display: flex;
	justify-content: space-between;
	margin-top: 1.875rem;
}

.menu .boxes {
	margin: 1.875rem 0 0 5rem;
}

.menu-box {
	position: relative;
	display: flex;
	margin-bottom: 1.25rem;
}

.menu-box ul {
	width: 14.583vw;
}

.menu-item {
	width: max-content;
	cursor: pointer;
	margin-bottom: 0.625rem;
}

.menu-item a {
	line-height: 3.75rem;
	font-size: 40px;
	color: var(--clr-black);
}

.menu-item a:hover {
	color: var(--clr-primary-1);
}

.menu-item img {
	position: absolute;
	display: block;
	width: 34.896vw;
	height: 24.375rem;
	top: 0.625rem;
	margin-left: 14.583vw;
}

.menu-item .main:not(:hover) + img.main {
	display: none;
}

.menu-item .about:not(:hover) + img.about {
	display: none;
}

.menu-item .location:not(:hover) + img.location {
	display: none;
}

.menu-item .kitchen:not(:hover) + img.kitchen {
	display: none;
}

.menu-item .reserv:not(:hover) + img.reserv {
	display: none;
}

.menu-item .contact:not(:hover) + img.contact {
	display: none;
}

h1 {
	width: 31.25vw;
	text-align: right;
	word-wrap: break-word;
}

.menu .arrow {
	height: 100%;
	margin: 10rem -8.75rem 0 0;
	transition: all 0.3s ease-in-out;
}

h1:hover ~ .menu .arrow {
	margin-left: -7.5rem;
}

.contacts {
	position: relative;
	display: flex;
	gap: 1.25rem;
	width: 49.479vw;
	padding-top: 1.875rem;
}

.contacts:before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 0.1875rem;
	background-color: var(--clr-primary-1);
}

.contact-box {
	width: 14.583vw;
}

.contact-box p {
	line-height: 1.875rem;
	color: var(--clr-black);
}

.contact-box .title {
	font-size: 22px;
	margin-bottom: 1.25rem;
}

.contact-box .text {
	width: 12.5vw;
	line-height: 1.875rem;
	font-size: 18px;
	color: var(--clr-black);
	margin-top: 0.625rem;
}

@media (max-width: 1700px) {
	.menu .boxes {
		margin: 1.875rem 0 0 3.75rem;
	}

	.menu-item img {
		height: 20.625rem;
	}

	.menu-item a {
		line-height: 3.125rem;
		font-size: 34px;
	}

	.menu .arrow {
		width: 13.125rem;
		margin: 7.5rem -7.1875rem 0 0;
	}
}

@media (max-width: 1440px) {
	.menu-item {
		margin-bottom: 0.9375rem;
	}

	.menu-item a {
		line-height: 2.5rem;
		font-size: 30px;
	}

	.menu-item img {
		height: 18.75rem;
	}

	.menu .arrow {
		width: 10rem;
		margin-top: 6.875rem;
	}

	.contact-box .title {
		line-height: 1.5625rem;
		font-size: 20px;
		margin-bottom: 0.9375rem;
	}
	
	.contact-box .text {
		font-size: 17px;
	}
}

@media (max-width: 1280px) {
	.menu .boxes {
		margin-left: 2.5rem;
	}

	.menu-item a {
		font-size: 28px;
	}

	.menu-item img {
		width: 38.306vw;
	}

	.contacts {
		gap: 0.9375rem;
		width: 35.625rem;
		padding-top: 1.875rem;
	}

	.contacts:before {
		width: calc(14.583vw + 38.306vw);
	}

	.contact-box .text {
		width: max-content;
	}

	.contact-box {
		width: 11.25rem;
	}

	.menu .arrow {
		width: 6.25rem;
		margin: 5rem -0.3125rem 0 0;
	}
	
	h1 {
		margin-left: -4.6875rem;
	}
}

@media (max-width: 992px) {
	.menu .boxes {
		margin: 0;
	}

	.menu-box ul {
		width: 8.75rem;
	}

	.menu-item img {
		width: 22.5rem;
		height: 17.1875rem;
		margin-left: 8.75rem;
	}

	.menu .arrow {
		width: 4.375rem;
		margin: 3.75rem 0 0 -4.375rem;
	}

	h1 {
		margin-left: -5rem;
	}
}

@media (max-width: 768px) {
	.menu .logo,
	.menu-item img,
	.menu .arrow,
	.contacts {
		display: none;
	}

	.menu .nav-menu {
		display: flex;
		margin-left: 0;
	}

	.menu-container.content {
		flex-direction: column-reverse;
		margin-top: 3.75rem;
	}

	h1 {
		position: relative;
		width: 100%;
		text-align: center;
		margin: 0 0 0.625rem;
		padding-bottom: 1.875rem;
	}

	h1:before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.1875rem;
		background-color: var(--clr-primary-1);
	}

	.menu-box ul {
		position: relative;
		width: 100%;
		padding-bottom: 0.625rem;
	}

	.menu-box ul:before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.1875rem;
		background-color: var(--clr-primary-1);
	}

	.menu-item {
		text-align: center;
		width: 100%;
		margin: 1.25rem 0;
	}
	
	.menu-item a {
		line-height: 2.5625rem;
		font-size: 32px;
	}
}

@media (max-width: 480px) {
	h1:before,
	.menu-box ul:before {
		height: 0.0625rem;
	}

	.menu-item a {
		line-height: 2.5rem;
		font-size: 27px;
	}
}