.reserv {
	background-color: var(--clr-primary-0);
}

.reserv .content {
	padding-top: 5.55556vh;
	padding-bottom: 17.77778vh;
}

form {
	display: flex;
	justify-content: center;
	gap: 5.7291667vw;
}

.reserv .title {
	line-height: 16.66667vh;
	color: var(--clr-primary-1);
}

.reserv .paragraph {
	width: 28.75rem;
	height: 25.55556vh;
	margin: 5.55556vh 0 4.44444vh;
}

.reserv .text {
	line-height: 3.88889vh;
}

.reserv .feature {
	display: flex;
	gap: 1.25rem;
}

.feature-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5.625rem;
	height: 5.625rem;
	border: 2px solid var(--clr-primary-1);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.feature-box:hover {
	background-color: var(--clr-white);
}

.active-btn {
	background-color: var(--clr-white);
}

.feature-box h6 {
	font-size: 26px;
	color: var(--clr-primary-1);
}

.form-box {
	width: 55rem;
	margin-top: 0.625rem;
}

.form-box .input-box {
	border-bottom: 0.1875rem solid var(--clr-primary-1);
	height: 7.77778vh;
	margin-top: 6.66667vh;
	padding-bottom: 3.33333vh;
}

.form-box input,
.form-box input::placeholder {
	font-family: MazzardM-Light;
	font-size: 30px;
	color: var(--clr-white);
}

.form-box input {
	width: 100%;
	line-height: 2.5rem;
	background: transparent;
	border: none;
}

.reserv .mobile.text,
.reserv .mobile.feature {
	display: none;
}

.confirm {
	display: flex;
	align-items: center;
	gap: 2.1875vw;
	margin-top: 7.77778vh;
}

.reserv .button {
	width: 17.5rem;
	height: 5.625rem;
}

.reserv .button-text {
	font-size: 30px;
	padding: 1.875rem 0;
}

.confirm .text {
	width: 28.75rem;
	line-height: 1.875rem;
	font-size: 22px;
}

@media (max-width: 1700px) {
	.reserv .title {
		line-height: 8.125rem;
	}
	
	.reserv .paragraph {
		width: 25rem;
	}
	
	.feature-box {
		width: 5.3125rem;
		height: 5.3125rem;
	}
	
	.feature-box h6 {
		font-size: 23px;
	}
	
	.form-box {
		width: 41.25rem;
	}
	
	.form-box input,
	.form-box input::placeholder {
		font-size: 26px;
	}
	
	.reserv .button {
		height: 5.3125rem;
	}
	
	.reserv .button-text {
		font-size: 26px;
		padding: 1.71875rem 0;
	}
	
	.confirm .text {
		font-size: 19px;
	}
}

@media (max-width: 1440px) {
	.reserv .title {
		line-height: 6.875rem;
		margin-bottom: 2.5rem;
	}
	
	.reserv .paragraph {
		width: 22.5rem;
		height: 15rem;
	}

	.reserv .text {
		line-height: 1.875rem;
	}
	
	.reserv .feature {
		gap: 0.9375rem;
	}

	.feature-box {
		width: 5rem;
		height: 5rem;
	}
	
	.feature-box h6 {
		font-size: 21px;
	}
	
	.form-box {
		width: 36.25rem;
	}
	
	.form-box input,
	.form-box input::placeholder {
		font-size: 23px;
	}
	
	.confirm .text {
		line-height: 1.5625rem;
	}
}

@media (max-width: 1280px) {
	.feature-box {
		width: 4.6875rem;
		height: 4.6875rem;
	}
	
	.form-box {
		width: 31.25rem;
	}
	
	.reserv .button {
		width: 15rem;
		height: 5rem;
	}

	.reserv .button-text {
		font-size: 26px;
		padding: 1.5625rem 0;
	}
	
	.confirm .text {
		width: 15rem;
		line-height: 1.5625rem;
		font-size: 17px;
	}
}

@media (max-width: 992px) {
	.reserv .content {
		padding-top: 0;
		padding-bottom: 13.333333vh;
	}

	form {
		flex-direction: column;
		gap: 0;
	}	

	.reserv .paragraph,
	.form-box {
		width: 100%;
	}

	.text-box {
		margin: 0;
	}

	.reserv .title {
		line-height: 5rem;
		color: var(--clr-white);
		margin-bottom: 2.22222vh;
	}

	.reserv .paragraph {
		height: max-content;
		margin: 0;
	}

	.reserv .text {
		line-height: 1.5625rem;
	}
	
	.reserv .text2,
	.reserv .br,
	.reserv .laptop {
		display: none;
	}

	.form-box {
		margin-top: 0;
	}

	.form-box input {
		line-height: 1.875rem;
	}

	.form-box .input-box {
		height: 5.55556vh;
		border-bottom: 0.125rem solid var(--clr-primary-1);
		margin-top: 1.875rem;
		padding-bottom: 2.22222vh;
	}

	.reserv .mobile.text {
		display: block;
		font-size: 23px;
		margin-top: 2.22222vh;
	}

	.reserv .mobile.feature {
		display: flex;
		gap: 1.5rem;
		margin: 2.5vh 0 3.75vh;
	}

	.confirm {
		display: block;
		margin-top: 0;
	}

	.reserv .button {
		width: 100%;
		height: 4.6875rem;
		margin-bottom: 1.25rem;
	}
	
	.reserv .button-text {
		padding: 1.40625rem 0;
	}
	
	.confirm .text {
		width: 100%;
		text-align: center;
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.reserv .button-text {
		font-size: 24px;
	}
}

@media (max-width: 480px) {
	.reserv .title {
		line-height: 3.75rem;
		margin-bottom: 1.25rem;
	}

	.reserv .text {
		line-height: 1.667rem;
	}
		
	.form-box input,
	.form-box input::placeholder {
		font-size: 20px;
	}

	.form-box .input-box {
		border-bottom: 0.0655rem solid var(--clr-primary-1);
		margin-top: 1.25rem;
	}

	.reserv .mobile.text {
		font-size: 20px;
		margin-top: 1.25rem;
	}

	.reserv .mobile.feature {
		gap: 1rem;
		margin-top: 1.25rem;
	}

	.feature-box {
		width: 4.375rem;
		height: 4.375rem;
		border: 1px solid var(--clr-primary-1);
	}

	.feature-box h6 {
		font-size: 20px;
	}

	.reserv .button {
		height: 4.375rem;
	}
	
	.reserv .button-text {
		font-size: 22px;
		padding: 1.25rem 0;
	}

	.confirm .text {
		line-height: 1.25rem;
		font-size: 13px;
	}
}